@page "/flights"
@using System.Diagnostics

@code {
    FlightManagement fm = new FlightManagement();
    static List<Flight> flightList = FlightManagement.getFlightList();
    HashSet<String> departures = FlightManagement.fillDepartures(flightList);
    HashSet<String> arrivals = FlightManagement.fillArrivals(flightList);
    HashSet<String> weekdays = new HashSet<string>() { "Any", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };

    static SelectedValues selectedValues = new SelectedValues();
    static List<Flight> searchList = new List<Flight>();

    static string reserveResult = "";

    public static void Search()
    {
        searchList.Clear();
        foreach(Flight flight in flightList)
        {
            if ((selectedValues.DepartureAirport == flight.DepartureAirport || selectedValues.DepartureAirport == "Any") && 
                (selectedValues.ArrivalAirport == flight.ArrivalAirport || selectedValues.ArrivalAirport == "Any") && 
                (selectedValues.Weekday == flight.DayOfTheWeek || selectedValues.Weekday == "Any"))
            {
                searchList.Add(flight);
            }
        }
    }

    Flight? selectedFlight;
    String? name;
    String? citizenship;
    bool active = true;

        public async void Reserve()
        {
        try
        {
            if (name == null || citizenship == null || selectedFlight == null)
            {
                await App.Current.MainPage.DisplayAlert("Error", "Please complete all of the fields", "OK");
            }else
            {
                ReservationManager rm = new ReservationManager();
                rm.makeReservation(selectedFlight!, name!, citizenship!);
                await App.Current.MainPage.DisplayAlert("Reserved", "You have successfully reserved this flight.", "OK");
            }

        } catch (Exception e)
        {
            await App.Current.MainPage.DisplayAlert("Error", e.Message, "OK");

        }

    }

    public void SelectFlight(Flight flight) => selectedFlight = flight;
}

<h2 class="section-heading">Flight finder</h2>
<section id="search-section">
    <div class="input-wrapper">
        <label>From:</label>
        <select @bind="selectedValues.DepartureAirport" class="form-select" aria-lagel="Default select example">
            @foreach (string departure in departures)
            {
                <option value="@departure">@departure</option>
            }
        </select>
    </div>

    <div class="input-wrapper">
        <label>To:</label>
        <select @bind="selectedValues.ArrivalAirport" class="form-select">
            @foreach (string arrival in arrivals)
            {
                <option value="@arrival">@arrival</option>
            }
        </select>
    </div>

    <div class="input-wrapper">
        <label>Day:</label>
        <select @bind="selectedValues.Weekday" class="form-select">
            @foreach (string day in weekdays)
            {
                <option value="@day">@day</option>
            }
        </select>
    </div>

    <button class="findButton btn" @onclick="Search">Find Flights</button>
</section>

@if (searchList.Count != 0) {
    <h2 class="section-heading">Flights</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Airline</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Day</th>
                <th>Time</th>
                <th>Capacity</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Flight flight in searchList)
            {
                <tr @onclick="() => SelectFlight(flight)">
                    <td>@flight.FlightNumber</td>
                    <td>@flight.Airline</td>
                    <td>@flight.DepartureAirport</td>
                    <td>@flight.ArrivalAirport</td>
                    <td>@flight.DayOfTheWeek</td>
                    <td>@flight.Time</td>
                    <td>@flight.Capacity</td>
                    <td>@flight.Cost</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <p>No flights found</p>
}


<h2 class="section-heading">Reserve</h2>
<section id="reserve-section">
    <div class="input-wrapper">
        <label>Flight number:</label>
        <input type="text" placeholder="Flight number" class="form-control" value="@selectedFlight?.FlightNumber" readonly/>
    </div>
    <div class="input-wrapper">
        <label>Airline:</label>
        <input type="text" placeholder="Airline" class="form-control" value="@selectedFlight?.Airline" readonly/>
    </div>
    <div class="input-wrapper">
        <label>Day:</label>
        <input type="text" placeholder="Day" class="form-control" value="@selectedFlight?.DayOfTheWeek" readonly/>
    </div>
    <div class="input-wrapper">
        <label>Time:</label>
        <input type="text" placeholder="Time" class="form-control" value="@selectedFlight?.Time" readonly/>
    </div>
    <div class="input-wrapper">
        <label>Cost:</label>
        <input type="text" class="form-control" value="@selectedFlight?.Cost" readonly/>
    </div>
    <div class="input-wrapper">
        <label>Name:</label>
        <input type="text" placeholder="Name" class="form-control" @bind="name"/>
    </div>
    <div class="input-wrapper">
        <label>Citizenship:</label>
        <input type="text" placeholder="Citizenship" class="form-control" @bind="citizenship"/>
    </div>
    <button class="findButton btn" @onclick="Reserve">Reserve</button>
</section>

@if (reserveResult != "")
{
    <p>@reserveResult</p>
}

